.infos-container-details {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 36px auto 72px auto;
  flex-direction: column;
  align-items: center;
}

.testeIcons {
  background-color: brown !important;
}

@media only screen and (min-width: 830px) {
  .icons-card-details-desktop-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 680px;
    margin-top: 30px;
  }

  .icons-details-container {
    min-width: 100px;
  }
}