.menu-content-container {
  width: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  margin-top: 51px;
  right: -100%;
  transition: .35s ease-in-out;
  padding: 20px 0;
}

.menu-content-container-on {
  width: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  margin-top: 51px;
  right: 0;
  transition: .35s ease-in-out;
  padding: 20px 0;
}

.links {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #1C3C45;
  margin: 10px 0;
  font-size: 16px;
}

.selected {
  color: #ADDBD2;
  font-weight: 900;
}

.links-container {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #E5E5E5;
  align-items: flex-end;
  padding: 0 15px 32px 0;
}

.wish-link-container {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #E5E5E5;;
  align-items: flex-end;
  padding: 15px;
}

@media only screen and (min-width: 830px) {
  .menu-content-container-on {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: flex-end;
    margin-top: 0;
    padding: 0;
    position: initial;
    right: 0;
    transition: none;
    width: 100%;
    z-index: 10;
  }

  .links-container {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    align-items: center;
    padding: 0;
  }
  
  .wish-link-container {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    align-items: flex-end;
    padding: 0;
  }

  .links {
    margin: 0 14px;
    font-size: 14px;
  }

  .links:hover {
    color: #ADDBD2;
    font-weight: 900;
  }
  
}
