.card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  box-shadow: 1px 1px 5px 0px #e5e5e5;
  margin-bottom: 20px;
}

.image-size {
  width: 280px;
  margin-bottom: 20px;
}

.infos-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  min-width: 215px;
  margin: 20px 0;
}

.icons-container {
  display: flex;
}

.icons-size {
  width: 30px;
}

.fav-button {
  padding: 12px 27px;
  width: 100%;
  text-align: end;
}

.card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.villa-cards-p-btn {
  margin-top: -13px !important;
  margin-bottom: 26px;
}

@media only screen and (min-width: 830px) {
  .card-container {
    width: 900px;
  }

  .card-link {
    flex-direction: row;
  }

  .villa-cards-infos-container-desktop {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-bottom: 52px;
    min-width: 200px;
    align-items: flex-start;
  }

  .image-size {
    width: 400px;
    margin-bottom: 52px;
    margin-right: 25px;
  }

  .infos-container {
    margin-top: 52px;
  }

  .villa-cards-p-btn {
    display: flex;
    margin-top: 6px;
    margin-bottom: 0;
  }

}
