.background-banner {
  height: 76vh;
  background-color: #1c3c4585;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-position-x: center;
}

.banner-info {
  margin-top: 50%;
}