.link-section-home {
  padding: 100px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 1px #E5E5E5;
}

.link-section-image {
  width: 296px;
  margin: 26px 0;
}
