.menu-mobile-container {
  display: flex;
  width: 100vw;
  height: 52px;
  justify-content: space-between;
}

.menu-mobile-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.link-logo-menu {
  display: flex;
}

.logo-menu-mobile {
  width: 220px;
}

select {
  border: none;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #1C3C45;
  margin: 10px 0;
  font-size: 16px;
}

option {
  /* background-color: violet; */
  border: none;
}

.languages-select-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}

.languages-options-container {
  display: none;
  transition: .35s ease-in-out;
}

.languages-options-container-on {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: .35s ease-in-out;
}

.languages-options {
  margin-top: 10px;
  font-size: 16px;
  color: #1C3C45;
  text-align: left;
  font-family: 'Lato', sans-serif;
}

.icon-flag {
  margin-left: 10px;
}

.languages-options-selected {
  font-weight: 800;
}

@media only screen and (min-width: 800px) {
  .menu-mobile-container {
    display: none;
  }
  
  .languages-options-container-on {
    position: absolute;
    background-color: white;
    margin-top: 26px;
    padding: 20px 30px;
  }

}