.menu-mobile-container {
  display: flex;
  width: 100vw;
  height: 52px;
  justify-content: space-between;
}

.menu-mobile-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.link-logo-menu {
  display: flex;
}

.logo-menu-mobile {
  width: 220px;
}