.link-section-home-desktop {
  flex-direction: row;
  padding: 100px 0;
  border-bottom: solid 1px #E5E5E5;
  justify-content: center;
  align-items: center;
}

.link-section-image-desktop {
  width: 500px;
  margin: 0 25px;
  height: 329px;
}

.villas-home-desk-info {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.home-sections-desktop-title {
  display: flex;
}

.home-sections-desktop-btn {
  display: flex;
  margin-top: 30px;
}