/* .image-size-wedding {
  width: 100vw;
  margin-bottom: 76px;
}

.section-wed {
} */

.section-wed-reverse {
  margin-bottom: 100px;
}

@media only screen and (min-width: 830px) {
  .wedding-content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .section-wed {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
  }
  
  .section-wed-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    margin-bottom: 100px;
  }

  .image-size-wedding {
    width: 500px !important;
    margin-bottom: 0 !important;
  }


  .weddings-paragraph p {
    text-align: left !important;
  }
  
  .weddings-paragraph-rigth p {
    margin-left: 84px;
  }

  .weddings-paragraph-left {
    width: 310px;
  }

}
