.features-container {
  margin: 90px 0;
}

.features-wrapper {
  width: 70%;
  margin: auto;
}

.specs-container {
  margin-top: 50px;
}

.amenities-container {
  margin-top: 50px;
}

@media only screen and (min-width: 830px) {
  .features-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 82%;
  }

  .specs-container {
    border-right: 1px solid #1c3c451f;
    width: 50%;
  }
  
  .amenities-container {
    width: 50%;
  }
}